{% extends 'base.html' %}

{% block title %}PayMT APP{% endblock %}

{% block content %}

	{% if all_items %}
	<table class="table table-bordered">
		<td >Transactions ID (timestamp):</td>
		<td><center>Note:</center></td>
		{% for tx in all_items %}
				<tr>
					<td><a href="{% url 'edit' tx.id %}">{{ tx.item }}</a></td>
					<td> {{ tx.note }}{{ tx.note|yesno:",n/a" }} | <a href="{% url 'edit' tx.id %}"> {{tx.note|yesno:"edit,add" }} </a> | <a href="{% url 'delete' tx.id %}">delete</a></td>
				</tr>
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}
